.container {
  width: 80%;
  margin: 10px auto;

  .chart {
    display: flex;
    flex-wrap: wrap;
  }

  .pie {
    width: 40%;
    margin: 10px;
  }
  .area {
    width: 55%;
    margin: 10px;
  }
}
