.Info {
  width: 70%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;

  &_card {
    // width: 100%;
    padding: 10px 2rem;
    border-radius: 6px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;

    &_avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 5px;
      font-size: 28px;
      text-align: center;
    }

    // Icon colors

    &_green {
      background: rgb(161, 245, 182);
      color: rgb(4, 173, 4);
    }

    &_red {
      background: rgb(248, 175, 175);
      color: rgb(252, 26, 26);
    }

    &_yellow {
      background: rgb(248, 248, 168);
      color: rgb(248, 248, 29);
    }

    &_blue {
      background: rgb(173, 198, 250);
      color: rgb(65, 146, 253);
    }

    &_data {
      margin-left: 2rem;
      text-align: center;
      text-transform: capitalize;

      span {
        font-weight: 700;
        font-size: 2rem;
      }
      p {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .info-container {
    flex-wrap: wrap;
    .info-card {
      width: 30%;
    }
  }
}
@media screen and (max-width: 650px) {
  .info-container {
    justify-content: center;
    .info-card {
      width: 70%;
    }
  }
}
