.Nav {
  color: rgb(53, 50, 50);
  font-weight: 700;
  font-size: 1.25rem;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 10px auto;

    &_content {
      display: flex;
      align-items: center;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 3px #4384fc solid;
        margin-right: 10px;
      }

      &_user {
        margin: 0;

        span {
          text-transform: uppercase;
        }
      }
    }

    &_login {
      text-decoration: none;
      color: black;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
  &_vl {
    border-bottom: 2.5px solid #bbbbbb;
  }
}

@media screen and (max-width: 750px) {
  nav {
    font-size: 1.15rem;
    font-weight: 600;
    .nav-container {
      width: 90%;
    }
  }
}
