nav {
  color: rgb(53, 50, 50);
  font-weight: 700;
  font-size: 1.25rem;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 10px auto;

    .nav-content {
      display: flex;
    }

    .avatar {
      img {
        width: 45px;
        border-radius: 50%;
        border: 3px #4384fc solid;
      }
    }

    .userName {
      padding: 10px;
      margin: 0;

      span {
        text-transform: uppercase;
      }
    }
  }
  .login-btn {
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
  }
  .vl {
    border-bottom: 2.5px solid #8a8a88;
  }
}

@media screen and (max-width: 750px) {
  nav {
    font-size: 1.15rem;
    font-weight: 600;
    .nav-container {
      width: 90%;
    }
  }
}
