.search {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(56, 58, 58);
  margin: 10px auto;

  .search-container {
    display: flex;
    align-items: center;

    form {
      input {
        font-size: 1.35rem;
        padding: 10px;
        margin-right: 3px;
        width: 70%;
        border: none;
        outline: none;
      }

      button {
        background: rgb(87, 165, 155);
        border: none;
        cursor: pointer;
        height: max-content;
        padding: 10px 7px;
        border-radius: 8px;
        font-size: 1.5rem;
        text-transform: capitalize;
        transition: all 0.5s linear;

        &:hover {
          color: #dfdede;
          background: rgb(62, 99, 94);
        }
      }
    }
  }
}
